[package]
name = "bevy_flash"
version = "0.1.0"
edition = "2021"
authors = ["傲娇小霖霖"]
license = "MIT OR Apache-2.0"
description = "A Bevy plugin for Flash Animation"

[dependencies]
swf = { git = "https://github.com/ruffle-rs/ruffle.git", tag = "nightly-2024-12-09" }
ruffle_render = { git = "https://github.com/ruffle-rs/ruffle.git", tag = "nightly-2024-12-09" }
ruffle_render_wgpu = { git = "https://github.com/ruffle-rs/ruffle.git", tag = "nightly-2024-12-09" }
ruffle_macros = { git = "https://github.com/ruffle-rs/ruffle.git", tag = "nightly-2024-12-09" }
swf_macro = { path = "./swf_macro" }
smallvec = { version = "1.13.2", features = ["union"] }
wgpu = { version = "23", default-features = false }

bevy = { version = "0.15", default-features = false, features = [
    "bevy_asset",
    "bevy_sprite",
] }

thiserror = "1.0"
anyhow = "1.0"
bitflags = "2.5"
lyon_tessellation = "1.0"
indexmap = "2.7"
copyless = "0.1.5"

uuid = "1.10"
enum-map = "2.7.3"

[dev-dependencies]
bevy = { version = "0.15" }


[profile.dev]
opt-level = 1
